name: Docker-test

on:
  pull_request:
    branches:
      - master
    types:
      - opened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t image -f dockerfiles/Dockerfile .

    - name: Run pytest on image
      run: docker run image poetry run pytest
