name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --no-cache-dir poetry poetry-plugin-export
        poetry export -f requirements.txt -o requirements.txt --without-hashes --with dev
        pip install --no-cache-dir -r requirements.txt && rm requirements.txt

    - name: Run ruff
      run: poetry run ruff check

    - name: Run ruff format
      run: poetry run ruff format --check

    - name: Run mypy
      run: poetry run mypy hpc_campaign

    - name: Run pylint
      run: poetry run pylint hpc_campaign

    - name: Build Docker image
      run: docker build . -f dockerfiles/Dockerfile
