name: CI

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        pip install --no-cache-dir poetry poetry-plugin-export
        poetry export -f requirements.txt -o requirements.txt --without-hashes --with dev
        pip install --no-cache-dir -r requirements.txt && rm requirements.txt
        pip install adios2
        pip install matplotlib

    - name: Run ruff
      run: poetry run ruff check

    - name: Run ruff format
      run: poetry run ruff format --check

    - name: Run mypy
      run: poetry run mypy hpc_campaign  --check-untyped-defs

    - name: Run pylint
      run: poetry run pylint hpc_campaign

    - name: Create some data files for testing
      run: |
        mkdir -p /tmp/campaign-store
        mkdir -p /tmp/campaign-cache
        python3 tests/heat2d/heatSimulation.py /tmp/heat.bp 10 15 3 1
        python3 tests/heat2d/heatPlot.py -i heat.bp -o T
        ls -l heat.bp T*.png

    - name: Install campaigns and create campaign files from command line
      run: |
        pip3 install -e .
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca create
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca dataset heat.bp --name heat
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca image T00000.png --name T0 --store
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca image T00001.png --name T1
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca image T00002.png --name T2 --thumbnail 64 64
        python3 -m hpc_campaign manager --campaign_store /tmp/campaign-store --hostname CI heat.aca info -rf

    - name: Run pytest on image
      run: poetry run pytest
